<div class=".col-4">
    <div class="oval">
        <div class="col-12 aligncenter paddingtop-oval">
            <img src="/images/iconCoupleNew.png" />
            <p class="font-marck-lg">Vielen Dank, für deine Zusage</p>
            <p class="font-courgette-lg">Wir freuen uns auf dein Kommen und das wir diesen besonderen Tag mit
                dir zusammen feiern können.</p>
        </div>
        <form action="/invite">
            <div class="form-horizontal">
                <div class="form-group row">
                    <label class="col-form-label col-sm-2"></label>
                    <div class="col-12 aligncenter">
                        <input type="submit" value="Zurück" class="btn btn-dark gold" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>