<%- include("header") -%>

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class=".col-4">
            <div class="oval">
                <div class="col-12 aligncenter paddingtop-oval-input">
                    <p class="font-marck-lg">Da hat sich leider der Fehlerteufel eingeschlichen</p>
                    <p class="font-courgette-lg">Bitte versuch es nocheinmal, falls es wieder nicht klappt bitte an pombdev@gmail.com melden</p>
                    <a href="/index">Zurück zum Anfang</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("footer") -%>