<div class="col-12 aligncenter paddingtop-oval">
    <img src="/images/iconCoupleNew.png" />
    <p class="font-marck-lg">Mrs & Mr</p>
    <p class="font-courgette-lg">Our Day has finally come!</p>
    <p class="font-courgette">Wir heiraten am xx.xx.xxxx um 14h im Location (Address)</p>
    <p class="font-courgette">Wir hoffen du bist dabei und freuen uns auf deine Rückmeldung</p>
</div>
<div class="form-horizontal">
    <div class="form-group row">
        <label class="col-form-label col-sm-2"></label>
        <div class="col-12 aligncenter">
            <input type="submit" id="forwardToRsvpName" value="RSVP" class="btn btn-dark btn-lg gold" />
        </div>
    </div>
</div>