<div class="justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center">
        <div class="oval" id="ovalLayout">
            <div id="oval" class="anim">

            </div>
        </div>
    </div>

    <div id="front" class="d-flex justify-content-center align-items-center">
        <div style="position: absolute; top: 0%;">
            <input type="checkbox" id="card-toggle-1" class="card-toggle" value="selected">
            <label class="labelBlock" for="card-toggle-1" id="label-toggle">
                <div class="row d-flex justify-content-center">
                    <div id="leftPage" class="col-6 noPadding divFront">
                        <img src="/images/leftpage.png" class="leftImage faceleft" id="imageLeft">
                    </div>
                    <div id="rightPage" class="col-6 noPadding divFront">
                        <img src="/images/rightpage.png" class="rightImage faceright" id="imageRight">
                    </div>
                </div>
            </label>
        </div>
    </div>
</div>